<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.web.mapper.ContractMapper">
    
    <resultMap type="Contract" id="ContractResult">
        <result property="id"    column="id"    />
        <result property="title"    column="title"    />
        <result property="content"    column="content"    />
        <result property="createdBy"    column="created_by"    />
        <result property="status"    column="status"    />
        <result property="filePath"    column="file_path"    />
        <result property="createdTime"    column="created_time"    />
        <result property="partyA"    column="party_a"    />
        <result property="partyB"    column="party_b"    />
    </resultMap>

    <sql id="selectContractVo">
        select id, title, content, created_by, status, file_path, created_time , party_a, party_b from contract
    </sql>

    <select id="selectContractList" parameterType="Contract" resultMap="ContractResult">
        <include refid="selectContractVo"/>
        <where>  
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="createdBy != null and createdBy != '' "> and created_by = #{createdBy}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="filePath != null  and filePath != ''"> and file_path = #{filePath}</if>
            <if test="createdTime != null "> and created_time = #{createdTime}</if>
        </where>
    </select>
    
    <select id="selectContractById" parameterType="Long" resultMap="ContractResult">
        <include refid="selectContractVo"/>
        where id = #{id}
    </select>

    <insert id="insertContract" parameterType="Contract" useGeneratedKeys="true" keyProperty="id">
        insert into contract
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">title,</if>
            <if test="content != null and content != ''">content,</if>
            <if test="createdBy != null">created_by,</if>
            <if test="status != null">status,</if>
            <if test="filePath != null">file_path,</if>
            <if test="createdTime != null">created_time,</if>
            <if test="partyA != null">party_a,</if>
            <if test="partyB != null">party_b,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">#{title},</if>
            <if test="content != null and content != ''">#{content},</if>
            <if test="createdBy != null">#{createdBy},</if>
            <if test="status != null">#{status},</if>
            <if test="filePath != null">#{filePath},</if>
            <if test="createdTime != null">#{createdTime},</if>
            <if test="partyA != null">#{partyA},</if>
            <if test="partyB != null">#{partyB},</if>
         </trim>
    </insert>

    <update id="updateContract" parameterType="Contract">
        update contract
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="content != null and content != ''">content = #{content},</if>
            <if test="createdBy != null">created_by = #{createdBy},</if>
            <if test="status != null">status = #{status},</if>
            <if test="filePath != null">file_path = #{filePath},</if>
            <if test="createdTime != null">created_time = #{createdTime},</if>
            <if test="partyA != null">party_a = #{partyA},</if>
            <if test="partyB != null">party_b = #{partyB},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteContractById" parameterType="Long">
        delete from contract where id = #{id}
    </delete>

    <delete id="deleteContractByIds" parameterType="String">
        delete from contract where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>